### <div id="py"> Working with different file formats </div>



- JSON (java script object notation)
- CSV (Command Seperated Values)
- Excel
- Avro

### Data comes in various forms

<img src="images/data_gen.jpeg">

As a data person you will deal with various type of data and it's important to learn how to handle these file formats



## Working in JSON files

***
Since its inception, JSON has quickly become the de facto standard for information exchange. 

Chances are you’re here because you need to transport some data from here to there. Perhaps you’re gathering information through an API or storing your data in a document database. 

One way or another, you’re up to your neck in JSON, and you’ve got to Python your way out.

## A (Very) Brief History of JSON

JSON stangs for JavaScript Object Notation was inspired by a subset of the JavaScript programming language dealing with object literal syntax. 

Ultimately, the community at large adopted JSON because it’s easy for both humans and machines to create and understand.

### Look, it’s JSON!
```
{
    "firstName": "Jane",
    "lastName": "Doe",
    "hobbies": ["running", "sky diving", "singing"],
    "age": 35,
    "children": [
        {
            "firstName": "Alice",
            "age": 6
        },
        {
            "firstName": "Bob",
            "age": 8
        }
    ]
}
```

### Does this look similar to something?

YES! Python **dictionary!**

### Writing JSON files

In [21]:
import json

In [22]:
data = {
    "president": {
        "name": "Zaphod Beeblebrox",
        "species": "Betelgeusian"
    }
}

In [23]:
with open("data_file.json", "w") as write_file:
    json.dump(data, write_file)

 Note that `dump()` takes two positional arguments:
 1. the data object to be serialized, and
 2. the file-like object to which the bytes will be written.

### Reading JSON files

In [24]:
with open("data_file.json", "r") as read_file:
    data = json.load(read_file)

In [25]:
type(data)

dict

In [26]:
data

{'president': {'name': 'Zaphod Beeblebrox', 'species': 'Betelgeusian'}}

### You can also read JSON as DataFrame in Pandas

In [27]:
import pandas as pd

jsonStr = '''{"Index0":{"Courses": "Pandas","Discount": "1200"},
           "Index1":{"Courses": "Hadoop","Discount": "1500"},
           "Index2":{"Courses": "Spark","Discount": "1800"}
          }'''

# Convert JSON to DataFrame Using read_json()
df2 = pd.read_json(jsonStr, orient ='index')
print(df2)

       Courses  Discount
Index0  Pandas      1200
Index1  Hadoop      1500
Index2   Spark      1800

### Convert Dict To DF

In [30]:
data['president']

{'name': 'Zaphod Beeblebrox', 'species': 'Betelgeusian'}

In [33]:
import pandas as pd

df3 = pd.DataFrame.from_dict(data, orient ='index')

In [34]:
df3

                        name       species
president  Zaphod Beeblebrox  Betelgeusian

## Working with CSV files

A CSV file (Comma Separated Values file) is a type of plain text file that uses specific structuring to arrange tabular data. 

It’s a plain text file that has data separated by commas!

```
column 1 name,column 2 name, column 3 name
first row data 1,first row data 2,first row data 3
second row data 1,second row data 2,second row data 3
...
```

In [35]:
df = pd.read_csv('data/hrdata.csv', index_col='Name')

In [36]:
df.head()

               Hire Date   Salary  Sick Days remaining
Name
Graham Chapman  03/15/14  50000.0                   10
John Cleese     06/01/15  65000.0                    8
Eric Idle       05/12/14  45000.0                   10
Terry Jones     11/01/13  70000.0                    3
Terry Gilliam   08/12/14  48000.0                    7

In [37]:
df = pd.read_csv('data/hrdata.csv', index_col='Name', parse_dates=['Hire Date'])

In [38]:
df

                Hire Date   Salary  Sick Days remaining
Name
Graham Chapman 2014-03-15  50000.0                   10
John Cleese    2015-06-01  65000.0                    8
Eric Idle      2014-05-12  45000.0                   10
Terry Jones    2013-11-01  70000.0                    3
Terry Gilliam  2014-08-12  48000.0                    7
Michael Palin  2013-05-23  66000.0                    8

In [ ]:
df.to_csv('data/hrdata_modified.csv')`

## Working with Excel Files

Excel spreadsheets are one of those things you might have to deal with at some point. Either it’s because your boss loves them or because marketing needs them, and you might have to learn how to work with spreadsheets.

Many companies still prefer using Excel files for their data storage and analysis, as a data expert you should know how to handle these files programatically!

To work with Excel files we have package in python `openpyxl`

In [39]:
pip install openpyxl

Requirement already satisfied: openpyxl in /opt/homebrew/lib/python3.10/site-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /opt/homebrew/lib/python3.10/site-packages (from openpyxl) (1.1.0)

[notice] A new release of pip available: 22.3.1 -> 23.0
[notice] To update, run: python3.10 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

### Basics of Excel

<img src="images/excel.png" width=550>

In [40]:
from openpyxl import Workbook

workbook = Workbook()
sheet = workbook.active

sheet["A1"] = "hello"
sheet["B1"] = "world!"

workbook.save(filename="hello_world.xlsx")

In [41]:
#Reading excel file

from openpyxl import load_workbook
workbook = load_workbook(filename="data/sample-xlsx-file.xlsx")
workbook.sheetnames
['Sheet 1']

['Sheet 1']

In [42]:
sheet = workbook.active

In [43]:
sheet

In [44]:
sheet.title

'Employee'

In [45]:
sheet["A1"]

In [47]:
sheet["A2"].value

'Rajeev Singh'

In [44]:
sheet.cell(row=10, column=6)

In [50]:
sheet.cell(row=3, column=3).value

datetime.datetime(1965, 1, 13, 0, 0)

In [51]:
sheet["A1:C2"]

((<Cell 'Employee'.A1>, <Cell 'Employee'.B1>, <Cell 'Employee'.C1>),
 (<Cell 'Employee'.A2>, <Cell 'Employee'.B2>, <Cell 'Employee'.C2>))

In [51]:
for row in sheet.iter_rows(values_only=True):
    print(row)

('Name', 'Email', 'Date Of Birth', 'Salary', 'Department')
('Rajeev Singh', 'rajeev@example.com', datetime.datetime(1992, 7, 21, 0, 0), 1500000.0, 'Software Engineering')
('John Doe', 'john@example.com', datetime.datetime(1965, 1, 13, 0, 0), 1300000.0, 'Sales')
('Jack Sparrow', 'jack@example.com', datetime.datetime(1986, 12, 19, 0, 0), 1000000.0, 'HR')
('Steven Cook', 'steven@example.com', datetime.datetime(1994, 5, 4, 0, 0), 1200000.0, 'Marketing')

### You can read Excel file as DataFrame using Pandas

In [52]:
excel_df = pd.read_excel('data/sample-xlsx-file.xlsx')

In [53]:
excel_df

,Name,Email,Date Of Birth,Salary,Department
0,Rajeev Singh,rajeev@example.com,1992-07-21,1500000,Software Engineering
1,John Doe,john@example.com,1965-01-13,1300000,Sales
2,Jack Sparrow,jack@example.com,1986-12-19,1000000,HR
3,Steven Cook,steven@example.com,1994-05-04,1200000,Marketing

In [66]:
excel_df.to_excel('data/sample-xlsx-file-modifeid.xlsx')

## Working with AVRO

Apache Avro is a data serialization format. We can store data as `.avro` files on disk. 

Avro files are typically used with Spark but Spark is completely independent of Avro.

Avro is a row-based format that is suitable for evolving data schemas. One benefit of using Avro is that schema and metadata travels with the data.

If you have an .avro file, you have the schema of the data as well. 

The Apache Avro Specification provides easy-to-read yet detailed information.

In [54]:
pip install avro-python3

Requirement already satisfied: avro-python3 in /opt/homebrew/lib/python3.10/site-packages (1.10.2)

[notice] A new release of pip available: 22.3.1 -> 23.0
[notice] To update, run: python3.10 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [16]:
# Python 3 with `avro-python3` package available
import copy
import json
import avro
from avro.datafile import DataFileWriter, DataFileReader
from avro.io import DatumWriter, DatumReader

In [55]:

# Note that we combined namespace and name to get "full name"
schema = {
    'name': 'avro.example.User',
    'type': 'record',
    'fields': [
        {'name': 'name', 'type': 'string'},
        {'name': 'age', 'type': 'int'}
    ]
}

# Parse the schema so we can use it to write the data
schema_parsed = avro.schema.Parse(json.dumps(schema))

In [56]:
schema_parsed

In [57]:

# Write data to an avro file
with open('users.avro', 'wb') as f:
    writer = DataFileWriter(f, DatumWriter(), schema_parsed)
    writer.append({'name': 'Pierre-Simon Laplace', 'age': 77})
    writer.append({'name': 'John von Neumann', 'age': 53})
    writer.close()

In [58]:

# Read data from an avro file
with open('users.avro', 'rb') as f:
    reader = DataFileReader(f, DatumReader())
    metadata = copy.deepcopy(reader.meta)
    schema_from_file = json.loads(metadata['avro.schema'])
    users = [user for user in reader]
    reader.close()

print(f'Schema that we specified:\n {schema}')
print(f'Schema that we parsed:\n {schema_parsed}')
print(f'Schema from users.avro file:\n {schema_from_file}')
print(f'Users:\n {users}')

Schema that we specified:
 {'name': 'avro.example.User', 'type': 'record', 'fields': [{'name': 'name', 'type': 'string'}, {'name': 'age', 'type': 'int'}]}
Schema that we parsed:
 {"type": "record", "name": "User", "namespace": "avro.example", "fields": [{"type": "string", "name": "name"}, {"type": "int", "name": "age"}]}
Schema from users.avro file:
 {'type': 'record', 'name': 'User', 'namespace': 'avro.example', 'fields': [{'type': 'string', 'name': 'name'}, {'type': 'int', 'name': 'age'}]}
Users:
 [{'name': 'Pierre-Simon Laplace', 'age': 77}, {'name': 'John von Neumann', 'age': 53}]

### Reading Avro Using Pandas

Avro format simply requires a schema and a list of records. We don’t need a dataframe to handle Avro files. 

However, we can write a `pandas` dataframe into an Avro file or read an Avro file into a `pandas` dataframe. 

To begin with, we can always represent a dataframe as a list of records and vice-versa

In [76]:
pip install pandavro

Collecting pandavro
  Downloading pandavro-1.7.1.tar.gz (8.1 kB)
  Preparing metadata (setup.py) ... done
Collecting fastavro==1.5.1
  Downloading fastavro-1.5.1.tar.gz (761 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 761.6/761.6 kB 15.5 MB/s eta 0:00:00a 0:00:01
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: pandas>=1.1 in /opt/homebrew/lib/python3.10/site-packages (from pandavro) (1.4.4)
Requirement already satisfied: numpy>=1.15.4 in /opt/homebrew/lib/python3.10/site-packages (from pandavro) (1.23.3)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/lib/python3.10/site-packages (from pandas>=1.1->pandavro) (2022.2.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/homebrew/lib/python3.10/site-packages (from pandas>=1.1->pandavro) (2.8.2)
Requirement already satisfied: six>=1.5 in /opt/homebrew/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas>=1.1->pandavro) (1.16.0)
Building wheels for collected packages: pandavro, fastavro
  Building wheel for pandavro (setup.py) ... done
  Created wheel for pandavro: filename=pandavro-1.7.1-py3-none-any.whl size=5670 sha256=c41fae16385fc0bef1471091596f5f864c0155a760454a2a17ea5c1052fe4e22
  Stored in directory: /Users/darshil/Library/Caches/pip/wheels/e2/1d/01/65058b6e307541a4b8738cbc2caf6726a39d02d0e5425a1486
  Building wheel for fastavro (pyproject.toml) ... done
  Created wheel for fastavro: filename=fastavro-1.5.1-cp310-cp310-macosx_12_0_arm64.whl size=437402 sha256=41557f15010a3c7b14ec43c09e6845e61d0270b0191487e91b46f6e23fb31695
  Stored in directory: /Users/darshil/Library/Caches/pip/wheels/6b/3a/87/aa70ea616d31ec0f1dbbea02b7366c621b0982e67c84c1335b
Successfully built pandavro fastavro
Installing collected packages: fastavro, pandavro
Successfully installed fastavro-1.5.1 pandavro-1.7.1
Note: you may need to restart the kernel to use updated packages.

In [77]:
import copy
import json
import pandas as pd
import pandavro as pdx
from avro.datafile import DataFileReader
from avro.io import DatumReader

In [59]:
# Data to be saved
users = [{'name': 'Pierre-Simon Laplace', 'age': 77},
         {'name': 'John von Neumann', 'age': 53}]
users_df = pd.DataFrame.from_records(users)
print(users_df)

                   name  age
0  Pierre-Simon Laplace   77
1      John von Neumann   53

In [79]:
pdx.to_avro('data/users_test.avro', users_df)

In [80]:
# Read the data back
users_df_redux = pdx.from_avro('data/users_test.avro')
print(type(users_df_redux))
# <class 'pandas.core.frame.DataFrame'>

<class 'pandas.core.frame.DataFrame'>

In [60]:
# Check the schema for "users.avro"
with open('users.avro', 'rb') as f:
    reader = DataFileReader(f, DatumReader())
    metadata = copy.deepcopy(reader.meta)
    schema_from_file = json.loads(metadata['avro.schema'])
    reader.close()
print(schema_from_file)

{'type': 'record', 'name': 'User', 'namespace': 'avro.example', 'fields': [{'type': 'string', 'name': 'name'}, {'type': 'int', 'name': 'age'}]}